<!--관리자 id : kdy0614 / pw : 0614-->
{% load static %}
<!DOCTYPE html>
<html lang="kor">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ALLCAKES🍰</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!--<link href="css/styles.css" rel="stylesheet" />-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <script src="https://kit.fontawesome.com/ca6bec3b6c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home' %}">ALLCAKES🍰</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">서울</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">노원</a></li>
                                <li><a class="dropdown-item" href="#!">도봉</a></li>
                                <li><a class="dropdown-item" href="#!">신촌</a></li>
                                <li><a class="dropdown-item" href="#!">잠실</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">경기</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">평택</a></li>
                                <li><a class="dropdown-item" href="#!">범계</a></li>
                                <li><a class="dropdown-item" href="#!">산본</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">강원</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">강릉</a></li>
                                <li><a class="dropdown-item" href="#!">평창</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">부산</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">광안리</a></li>
                                <li><a class="dropdown-item" href="#!">해운대</a></li>
                            </ul>
                        </li>
                    </ul> <!--이 친구 안에 들어오게 해야 됩니당!-->

                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="button" onclick=location.href="{% url 'mypage' %}">
                            나의 주문내역
                            <!--<span class="badge bg-dark text-white ms-1 rounded-pill">0</span>-->
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <!--
        <header class="bg-dark py-5" style="font-family: Arial; color: rgb(253, 160, 168);">-->
        <header style="color : rgb(173, 16, 121);">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-dark"> <!---->
                    <h1 class="display-4 fw-bolder">ALLCAKES🍰</h1>
                    <p class="lead fw-normal text-black-50 mb-0">✨인스타에 흩어져있던 주문 제작 케이크 가게들을 한눈에✨</p>
                </div>
            </div>
            <form class="d-flex" id="search-bar">
                <input class="form-control me-2" type="search" placeholder="예시) 생일 최준 초코" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <button onclick="filterToggle()" class="filter-button">
                <i class="fas fa-filter"></i>
                <i class="fas fa-sort-down"></i>
            </button>
            <div class="filter-box" id="filter">
                <form action="" method="GET">
                    <h4>이벤트</h4>
                    <input type="checkbox" name="event" value="birthday" id="birthday"/>
                    <label for="birthday">생일</label>
                    <input type="checkbox" name="event" value="wedding-anniversary" id="wedding-anniversary"/>
                    <label for="wedding-anniversary">기념일</label>
                    <input type="checkbox" name="event" value="parents-day" id="parents-day"/>
                    <label for="parents-day">어버이날</label>
                    <input type="checkbox" name="event" value="childrens-day" id="childrens-day"/>
                    <label for="childrens-day">어린이날</label>
                    <br>
                    <h4>지역</h4>
                    <input type="checkbox" name="location" value="mapo-gu" id="mapo-gu"/>
                    <label for="mapo-gu">마포구</label>
                    <input type="checkbox" name="location" value="seodaemun-gu" id="seodaemun-gu"/>
                    <label for="seodaemun-gu">서대문구</label>
                    <input type="checkbox" name="location" value="nowon-gu" id="nowon-gu"/>
                    <label for="nowon-gu">노원구</label>
                    <br>
                    <h4>테마</h4>
                    <input type="checkbox" name="theme" value="character" id="character"/>
                    <label for="character">캐릭터</label>
                    <input type="checkbox" name="theme" value="celebrity" id="celebrity"/>
                    <label for="celebrity">연예인</label>
                    <input type="checkbox" name="theme" value="animal" id="animal"/>
                    <label for="animal">애완동물</label>
                    <input type="checkbox" name="theme" value="kids" id="kids"/>
                    <label for="animal">유아</label>
                    <br><br>
                    <button button="submit" class="submit-button">
                        적용
                    </button>
                </form>
            </div>

        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5" id="kids">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://i.pinimg.com/564x/5e/75/84/5e75840181b79ddf87b32809398f2f6e.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <!--<h5 class="fw-bolder">Fancy Product</h5>-->
                                    <a href="{% url 'new' %}"><h5>멋사짱 케이크</h5></a>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <!--별점 갯수-->
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    #노원구 #생일 #어린이
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'new' %}">주문하기</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://mblogthumb-phinf.pstatic.net/MjAyMTA0MTFfNDkg/MDAxNjE4MTExMTczNzMy.g-CuPQKlYMAKmXZnxN7pUor1Ia7_S8AWlx8R7QQUM_og.l7D4bqbejvGTOEqDEmSzXD6IP1w73QL5SaMTFKRlgb0g.JPEG.thsgmlwjs/2021%EF%BC%8D04%EF%BC%8D09%EF%BC%8D17%EF%BC%8D03%EF%BC%8D11%EF%BC%8D845.jpg?type=w800" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a href="{% url 'new3' %}"><h5>준며든 케이크</h5></a>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    #노원구 #생일 #연예인 #최준 #주문하기로..약속?
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'new3' %}">주문하기</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark" >
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; AllCake-Likelion4-ideathon-2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script>
            function filterToggle() {
                var x = document.getElementById('filter');
                if (x.style.display == "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            function searchTemp() {
                document.getElementsById('kids').display="none";
            }

        </script>
		<!--
	<a href="{% url 'new' %}">케이크집1 주문 양식 쓰러가기</a>
	<a href="{% url 'new2' %}">new2으로 가기</a>
	<a href="{% url 'new3' %}">new3으로 가기</a>
	<a href="{% url 'new4' %}">new4으로 가기</a>
	<a href="{% url 'mypage' %}">mypage로 가기</a>
        -->
    </body>
</html>